* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS VARIABLES */

:root {

    /* Colors and bg colors */

    --primary-light-color: #4B5945;
    --second-light-color: #66785F;
    --third-light-color: #91AC8F;
    --forth-light-color: #B2C9AD;

    --black: #000;
    --black-light: #000000af;
    --font-color: #4B5945;

    --white: #fff;

    /* Font Sizes */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    /* Font Weight */

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
   * border-radius
   */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;
    --border-radius-rounded: 50px;
    /**
    * transition 
    */

    --transition-timing: 0.2s ease;

    /* Font Family */

    --ff-popins: "Poppins";
    --ff-roboto: "Roboto";

}


body.dark {
    --primary-light-color: #1E201E;
    --second-light-color: #3C3D37;
    --third-light-color: #000000;
    --forth-light-color: #000000b2;
    --font-color: #ffffffbb;
    --black-light: #ffffff9c;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: var(--ff-popins);
    color: var(--white);
}


/* app wrapper */
.app-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}


.app-left-section {
    height: 100%;
    width: 300px;
    background-color: var(--second-light-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.app-title {
    font-size: var(--fs-2);
}



/* Notebooks section */
.notebooks-section {
    margin-top: 15px;
    flex: 1;
}

.notebooks-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.notebooks-section-header p {
    font-size: var(--fs-7);
}

.add-new-notebook-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.notebooks-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 100%;
}

.notebook {
    font-size: var(--fs-9);
    padding: 0.8rem 1rem;
    transition: var(--transition-timing);
    border-radius: var(--border-radius-rounded);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.notebook button {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin-left: 5px;
    font-size: var(--fs-6);
    cursor: pointer;
    opacity: 0;
    transition: ease all 250ms;
}

.notebook.active {
    background-color: var(--primary-light-color);
}

.notebook-title {
    border: none;
    outline: none;
    flex: 1;
    max-width: 80%;
}

.notebook:hover {
    background-color: var(--primary-light-color);
}

.notebook:hover button {
    opacity: 1;
}


/* ----------------- Overlay -------------- */
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(61, 61, 61, 0.555);
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
   

}

.add-notebook-form-wrapper {
    background-color: var(--primary-light-color);
    padding: 1rem;
    height: fit-content;
    width: 400px;
    max-width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}




.add-notebook-form-wrapper h4 {
    font-size: var(--fs-5);
    font-family: var(--ffr);
    text-align: center;
}

#notebook-title-input {
    color: white;
    outline: none;
    padding: 0.7rem;
    font-size: var(--fs-5);
    background-color: transparent;
    border: 1px solid var(--forth-light-color);
    margin-top: 10px;
    border-radius: 5px;
    font-family: var(--ff-roboto);
}

#notebook-title-input::placeholder {
    color: rgba(255, 255, 255, 0.733);
}

.add-notebook-form-wrapper div {

    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

.add-notebook-form-wrapper button {
    cursor: pointer;
    font-size: var(--fs-5);
    background-color: transparent;
    border: none;
    color: white;
    font-weight: var(--weight-600);
    margin: 10px 0;
}


/* ---------------------------- */

.add-new-note-form{
    background-color: var(--primary-light-color);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    gap: 10px;
}
#newNoteForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-new-note-form h4 {
    text-align: center;
    font-family: var(--ff-roboto);

}

#new-notes-title-input {
    color: white;
    outline: none;
    padding: 0.7rem;
    font-size: var(--fs-5);
    background-color: transparent;
    border: 1px solid var(--forth-light-color);
    margin-top: 10px;
    border-radius: 5px;
    font-family: var(--ff-roboto);
    width: 100%;

}

#new-notes-title-input::placeholder {
    color: rgba(255, 255, 255, 0.733);
}

#new-note-content {
    color: white;
    outline: none;
    padding: 0.7rem;
    font-size: var(--fs-7);
    background-color: transparent;
    border: 1px solid var(--forth-light-color);
    width: 100%;
    border-radius: 5px;
    font-family: var(--ff-roboto);
    height: 400px;
    max-height: 400px;
    resize: none;
    scrollbar-width: 0;

}

textarea {
    overflow: scroll;
    /* Ensure scrolling is possible */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: transparent transparent;
    /* For Firefox */
}

textarea::-webkit-scrollbar {
    width: 0;
    /* Hide the scrollbar in WebKit browsers (Chrome, Safari) */
}

textarea::-webkit-scrollbar-thumb {
    background: transparent;
    /* Make the scrollbar thumb transparent */
}

#new-note-content::placeholder {
    color: rgba(255, 255, 255, 0.733);
}


.add-new-note-form div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}



.add-new-note-form  button {
    cursor: pointer;
    font-size: var(--fs-5);
    background-color: transparent;
    border: none;
    color: white;
    font-weight: var(--weight-600);
    margin: 10px 0;
}






/*  -------------------  App right section ------------- */

.app-right-section {
    height: 100%;
    padding: 1rem;
    flex: 1;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    background-color: var(--forth-light-color);
    position: relative;
}

.app-right-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todays-date {
    font-size: 12px;
    color: var(--black-light);
    position: relative;
    top: -2px;
}

.theme-toggle-btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.theme-toggle-btns button {
    background-color: transparent;
    border: none;
    font-size: var(--fs-4);
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--font-color);
    display: none;
}

.theme-toggle-btns .active{
    display: block;
    animation: rotateAndRise ease 250ms 1;
    transition: ease all 250ms;
}

@keyframes rotateAndRise {
    0%{
        transform: rotate(-75deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.app-right-section .selectes-notebook-info-wrapper{
    display: none;
 
}


/* if notes is present then only display the option to add the note */
.app-right-section.notebook-present .selectes-notebook-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(39, 39, 39, 0.397);
    margin-top: 15px;
    padding-bottom: 10px;

}


.add-new-note-btn {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 5px;
    font-weight: var(--weight-600);
    color: var(--font-color);
    cursor: pointer;
}

.no-Notebooks-present-message-wrapper{
    position: absolute;
    left: 50% ;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: var(--fs-11);
    width: 100%;
    text-align: center;
    max-width: 90%;
}

.app-right-section.notebook-present .no-Notebooks-present-message-wrapper{
    display: none;
}

.first-notebook-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: var(--weight-500);
    padding: 0.5rem 1rem;
}

.notes-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    margin-top: 10px;
    scrollbar-width: none;
    overflow-y: scroll;
}


.note {
    padding: 10px 10px 25px;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
}

.note-title {
    font-size: var(--fs-6);

}

.note-content {
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: var(--fs-8);
    margin-bottom: 15px;
}

.note-update-date {
    position: absolute;
    bottom: 10px;

    font-size: var(--fs-11);
}


.delete-note-btn {
    position: absolute;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: var(--fs-4);
    bottom: 5px;
    cursor: pointer;
    opacity: 0;
    transition: ease all 250ms;
    color: var(--font-color);
}

.note:hover .delete-note-btn {
    opacity: 1;
}